.create-product-form {
  width: 100%;
}

.create-product-form-content-wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--form-padding);

  margin-bottom: var(--form-padding);
}

.create-product-form label {
  font-weight: 400;
}

.create-product-img-input {
  width: 100%;
  height: 26rem;
  min-height: 100%;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.create-product-img-input label {
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.create-product-img-input label img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
}

.create-product-text-input-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-vertical);
}